img {
  width: 100px;
  float: left;
  border: thin solid;
  padding: 5px;
  margin-right: 7px;
}

button {
  font-size: 18px;
  font-weight: bold;
  font-family: "Lucida Console", monaco, monospace;
  padding: 7px;
  background-color: firebrick;
  border-radius: 10px;
  border: medium solid orange;
  color: white;
  margin-left: 2.5em;
}

div {
  font-size: 22px;
  font-weight: bold;
  clear: both;
  margin-top: 1em;
}
